In [1]:
import pandas as pd

In [2]:
schools = pd.read_csv('schools.csv')

#inspecting DataFrame 

print(schools.head())

                                         school_name    borough building_code  \
0  New Explorations into Science, Technology and ...  Manhattan          M022
1                               Essex Street Academy  Manhattan          M445
2                       Lower Manhattan Arts Academy  Manhattan          M445
3    High School for Dual Language and Asian Studies  Manhattan          M445
4      Henry Street School for International Studies  Manhattan          M056

   average_math  average_reading  average_writing  percent_tested
0           657              601              601             NaN
1           395              411              387            78.9
2           418              428              415            65.1
3           613              453              463            95.9
4           410              406              381            59.7

In [5]:
#checking out null_values 
null_values = schools.isna().sum()
print(null_values)

school_name         0
borough             0
building_code       0
average_math        0
average_reading     0
average_writing     0
percent_tested     20
dtype: int64

In [7]:
#determining the threshold for the best math results if max_score is 800 

possible_max_score = 800 
threshold = 0.80 * possible_max_score

#using threshold to create a DataFrame for best  math schools 

best_math_schools = schools[schools['average_math'] > threshold][['school_name', 'average_math']].sort_values(by='average_math', ascending=False)

print(best_math_schools)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

In [8]:
# calculating total SAT scores 

schools['total_SAT'] = schools['average_math'] + schools['average_reading'] + schools['average_writing']

print(schools.head())

                                         school_name    borough building_code  \
0  New Explorations into Science, Technology and ...  Manhattan          M022
1                               Essex Street Academy  Manhattan          M445
2                       Lower Manhattan Arts Academy  Manhattan          M445
3    High School for Dual Language and Asian Studies  Manhattan          M445
4      Henry Street School for International Studies  Manhattan          M056

   average_math  average_reading  average_writing  percent_tested  total_SAT
0           657              601              601             NaN       1859
1           395              411              387            78.9       1193
2           418              428              415            65.1       1261
3           613              453              463            95.9       1529
4           410              406              381            59.7       1197

In [10]:
top_ten_schools = schools.sort_values(by='total_SAT', ascending=False).head(10)
print(top_ten_schools)

                                           school_name        borough  \
88                              Stuyvesant High School      Manhattan
170                       Bronx High School of Science          Bronx
93                 Staten Island Technical High School  Staten Island
174  High School of American Studies at Lehman College          Bronx
333                        Townsend Harris High School         Queens
365  Queens High School for the Sciences at York Co...         Queens
5                       Bard High School Early College      Manhattan
280                     Brooklyn Technical High School       Brooklyn
45                       Eleanor Roosevelt High School      Manhattan
68   High School for Mathematics, Science, and Engi...      Manhattan

    building_code  average_math  average_reading  average_writing  \
88           M477           754              697              693
170          X445           714              660              667
93           R440           711              660              670
174          X905           669              672              672
333          Q515           680              640              661
365          Q774           701              621              625
5            M097           634              641              639
280          K430           682              608              606
45           M855           641              617              631
68           M812           683              610              596

     percent_tested  total_SAT
88             97.4       2144
170            97.0       2041
93             99.7       2041
174            91.8       2013
333            97.1       1981
365            97.9       1947
5              70.8       1914
280            95.5       1896
45             86.0       1889
68             92.6       1889

In [13]:
# boroughs with the largest standard deviation in total SAT scores

boroughs = schools.groupby('borough')['total_SAT'].agg(['count','mean','std']).round(2)
print(boroughs)

               count     mean     std
borough
Bronx             98  1202.72  150.39
Brooklyn         109  1230.26  154.87
Manhattan         89  1340.13  230.29
Queens            69  1345.48  195.25
Staten Island     10  1439.00  222.30

In [14]:
max_std = boroughs['std'].max()
print(max_std)

230.29

In [15]:
largest_std_dev = boroughs[boroughs['std'] == max_std]

largest_std_dev.columns = ['num_schools','average_SAT','std_SAT']
print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29